button {
  width: 100px;
  height: 75px;
  margin: 1rem;
}

.active {
  border: 1px solid blue;
  background-color: cornsilk;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
