[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
boto3 = "*"
mangum = "*"
opencv-python = "*"
pillow = "*"
moviepy = "*"
nltk = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
